/*.md
!README.md
!CHANGELOG.md
!ROADMAP.md
/aksa
tests/test_lexer
tests/test_locale
tests/test_parser
tests/test_checker
tests/test_vm
wasm/aksa.js
wasm/aksa.wasm
web/node_modules/
web/dist/
*.o
.DS_Store
/backup
device/sketch/
